.App {
    text-align: center;
}

button {
    margin-top: 10px;
    border: none;
    background: rebeccapurple;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
    border: 2px rebeccapurple solid;
}

.complete, .delete {
    cursor: pointer;
}
.uncompleted {
  color: red;
}

.completed {
  text-decoration: line-through;
  color: grey;
}
